html,
body {
  margin: 3%;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #96fffa;
  color: black;
  text-align: center;
  font-size: 2em;
}

/* Level 6 - Class Selector: This tag allows class names to be defined in html
and css tags. Using individual classes can allow for unique changes to certain
blocks of text or elements. For my class definitions, I chose to separate
each movie into its own class. */
.title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-shadow: 5px 5px 5px white, 10px 10px 10px black;
}

/* Level 25 - Empty Selector: This is commonly used for image tags as there are
no other elements inside of the img tag. Since there are no other elements
inside of my image tag, it can be defined as empty. */
img:empty {
  width: 15%;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h2:first-child {
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  line-height: 50%;
  text-shadow: 5px 5px 5px black;
}

h2:hover {
  transform: rotate(180deg);
}

p:last-child {
  font-family: 'Special Elite', cursive;
  line-height: 100%;
}

#toy-story {
  color: #ff3d2b;
}

#cars {
  color: #ffff29;
}

#monsters-inc {
  color: #0509ff;
}

#up {
  color: #ff3d2b;
}

#the-good-dinosaur {
  color: #ffff29;
}

#coco {
  color: #0509ff;
}
